<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      camera
    </ion-title>
    <div slot="end">
      <ion-button (click)="getImage()">Open Camera</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div  *ngIf="image">
    <!-- <img [src]="image" /> -->
    <img [src]="DomSanitizer.bypassSecurityTrustUrl(image)" />
  </div>
  <ion-grid *ngIf="imagePredictionData.length>0">
    <ion-row>
      <ion-col>
        Caption
      </ion-col>
      <ion-col>
        Probability
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let f of imagePredictionData">
      <ion-col>{{f.caption}}</ion-col>
      <ion-col>{{f.probability}}</ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="image">
    <strong>Query Now</strong>
    <div style="display: flex;justify-content: space-between;padding: 10px;">
      <ion-item slot="start" style="width: 50%;">
        <ion-input placeholder="Enter your Query" [(ngModel)]="queryData"></ion-input>
      </ion-item>
      <ion-button  *ngIf="!QueryDataRecieved" (click)="query(queryData)" slot="end">Query</ion-button>
      <ion-button  *ngIf="QueryDataRecieved" (click)="query(queryData)" slot="end">Query</ion-button>  
    </div>
    <ion-list *ngIf="QueryDataRecieved">
      <ion-item>
        <div>{{QueryDataRecieved}}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<div class="spinner"  *ngIf="spinner" >
  <ion-spinner name="crescent"></ion-spinner>
</div>
